<div class="container">
    <div class="jumbotron">
        <h1>Fund list</h1>
    </div>
    <div class="fund-list">
        <div data-ng-hide="funds" id="overlay">
            <div><p class="loading">Loading...</p></div>
            <div id="spin"><i class="fa fa-spinner fa-spin spin-big"></i></div>
        </div>

        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search Fund" ng-model="searchFund">
                </div>
            </div>
        </form>

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <td style="width: 60%">
                    <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Fund Name
                        <span data-ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td style="width: 10%">
                    <a href="#" ng-click="sortType = 'score.one_month'; sortReverse = !sortReverse">
                        Score 1M
                        <span data-ng-show="sortType == 'score.one_month' && !sortReverse" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortType == 'score.one_month' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td style="width: 10%">
                    <a href="#" ng-click="sortType = 'score.three_month'; sortReverse = !sortReverse">
                        Score 3M
                        <span data-ng-show="sortType == 'score.three_month' && !sortReverse" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortType == 'score.three_month' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td style="width: 10%">
                    <a href="#" ng-click="sortType = 'score.six_month'; sortReverse = !sortReverse">
                        Score 6M
                        <span data-ng-show="sortType == 'score.six_month' && !sortReverse" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortType == 'score.six_month' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td style="width: 10%">
                    <a href="#" ng-click="sortType = 'score.one_year'; sortReverse = !sortReverse">
                        Score 1Y
                        <span data-ng-show="sortType == 'score.one_year' && !sortReverse" class="fa fa-caret-down"></span>
                        <span data-ng-show="sortType == 'score.one_year' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-click="toggleActiveId(fund.externalId)"
                data-ng-repeat-start="fund in funds | orderBy:sortType:sortReverse | emptyToEnd:sortType | filter:searchFund track by $index"
            >
                <td>{{ fund.name }}</td>
                <td>{{ fund.score.one_month | number:2 }}</td>
                <td>{{ fund.score.three_month | number:2 }}</td>
                <td>{{ fund.score.six_month | number:2 }}</td>
                <td>{{ fund.score.one_year | number:2 }}</td>
            </tr>
            <tr data-ng-repeat-end data-ng-show="activeId == fund.externalId">
                <td class="fund-details" colspan="5" id="found-{{ fund.externalId}}">
                    {{fund.data}}
                    <div data-ng-hide="fund.data">
                        <div><p class="loading">Loading...</p></div>
                        <i class="fa fa-spinner fa-spin spin-big"></i>
                    </div>
                    <div data-ng-show="fund.data">
                        YEEY
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
